<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/Style.css" />
</head>

<body>
    <div class="user_form">
        <form action="#">
            <h3 style="color: rgba(226, 38, 38, 0.816)">Welcome to Quiz Master</h3>
            <h3>Login</h3>
            <br />
            <div class="input_box">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter email address" required />
            </div>
            <div class="input_box">
                <div class="password_title">
                    <label for="password">Password</label>
                </div>
                <input type="password" id="password" placeholder="Enter your password" required />
            </div>
            <button type="submit">Log In</button>
            <p class="sign_up">Don't have an account? <a href="SignUp.html">Sign up</a></p>
        </form>
    </div>
</body>

</html>