<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/main.css" />
</head>

<body>
    <div class="user_form">
        <form action="#">
            <h3 style="color: rgba(226, 38, 38, 0.816)">New Quiz</h3><br>
            <div class="input_box">
                <label for="Chapter_id">Chapter ID</label>
                <input type="text" id="Chapter_id" placeholder="Enter Chapter ID" required />
            </div>
            <div class="input_box">
                <label for="date">Date</label>
                <input type="date" id="date" placeholder="Enter Exam Date" required />
            </div>
            <div class="input_box">
                <label for="duration">Description</label>
                <input type="text" id="duration" placeholder="Enter Exam Duration" required />
            </div>
            <div class="bottom_row_for_page">
                <div><button type="submit">Save</button></div>
                <div><button type="submit">Cancel</button></div>
            </div>
        </form>
    </div>
</body>

</html>