<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/Style.css" />
</head>

<body>
    <div class="user_form">
        <form action="#">
            <h3 style="color: rgba(226, 38, 38, 0.816)">Welcome to Quiz Master</h3>
            <h3>Registration</h3><br>
            <div class="input_box">
                <label for="email">User Name</label>
                <input type="email" id="email" placeholder="Enter your email address" required />
            </div>
            <div class="input_box">
                <div class="password_title">
                    <label for="password">Password</label>
                </div>
                <input type="password" id="password" placeholder="Enter your password" required />
            </div>
            <div class="input_box">
                <label for="FullName">Full Name</label>
                <input type="text" id="FullName" placeholder="Enter your Full Name" required />
            </div>
            <div class="input_box">
                <label for="qualifications">Qualifications</label>
                <input type="text" id="qualifications" placeholder="Enter your Qualifications" required />
            </div>
            <div class="input_box">
                <label for="dob">Date Of Birth</label>
                <input type="date" id="dob" placeholder="Enter your Date Of Birth" required />
            </div>
            <button type="submit">Sign Up</button>
            <p class="Login">Already have an account? <a href="Login.html">Login</a></p>
        </form>
    </div>
</body>

</html>